@import "../../shared/config";

main {
  @include basicLayout;

  padding-left: $basicWidth;
  padding-right: $basicWidth;

  min-height: calc(100vh - 75px - 67px - 300px);

  ul {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    padding-top: 20px;
    margin: 0;

    list-style-type: none;

    li {
      width: 20%;
      padding: 20px;
      margin-bottom: 20px;

      cursor: pointer;

      &:hover h2 {
        text-decoration: underline;
      }

      &:hover img {
        mix-blend-mode: normal;
        opacity: 1;
        transition: 0.1s;
      }

      @media (max-width: 1400px) {
        width: 25%;
      }

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 667px) {
        width: 100%;
      }
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      // border-radius: 2px;

      filter: contrast(1.1) grayscale(20%);
      mix-blend-mode: luminosity;
      opacity: 0.6;
      transition: 0.1s;

      @media (max-width: 1024px) {
        opacity: 1;
        mix-blend-mode: normal;
      }
    }

    h2 {
      font-size: 22px;
      font-family: $secondaryFont;
      font-weight: 500;
      letter-spacing: 0.15;
      color: $primaryFontColor;
      line-height: 24px;
    }

    p,
    span {
      font-size: 14px;
      line-height: 24px;
    }

    span {
      margin-left: 1px;
    }

    .img-container {
      position: relative;
      box-sizing: content-box;
      padding-top: 100%; /* 1:1 Aspect Ratio */

      background-color: rgb(195, 76, 90);

      @media (max-width: 1024px) {
        background-color: none;
      }
    }

    .artist-type {
      color: $primaryColor;
      text-transform: uppercase;
      // letter-spacing: 1px;
      font-weight: 600;
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      // align-items: center;

      padding-top: 16px;
    }

    .artist-content-container {
      display: flex;
      flex-direction: column;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 50px 0px 120px;

    button {
      @include primaryOutlineButton(0);
    }
  }
}
