<section>
  <ul *ngIf="artists">

    <li *ngFor="let artist of artists">
      <div class="img-container">
        <img src="{{ artist.picture }}">
      </div>
      <h2>{{ artist.name }}</h2>
      <p class="artist-price">{{ artist.price }} SEK</p>

      <span *ngIf="artist.tags">
        <p>
          {{ artist.tags[0].name }}
        </p>
      </span>
      <button (click)="handleClickVideo(artist.video)">video</button>

    </li>

  </ul>
  <app-list-modal *ngIf="showModal === true" [videoLink]="videoLink" (closeModalEvent)="closeModal()">
  </app-list-modal>


</section>