@import "../../shared/config";

section {
  @include basicLayout;

  ul {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;

    list-style-type: none;

    li {
      width: 25%;
      margin-bottom: 30px;
      padding: 20px;
    }

    .img-container {
      position: relative;
      box-sizing: content-box;
      padding-top: 100%; /* 1:1 Aspect Ratio */
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .artist-type {
      color: $primaryColor;
      text-transform: uppercase;
      // letter-spacing: 1px;
      font-weight: 600;
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .artist-content-container {
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-size: 24px;
      font-family: $fontStack;
      font-weight: 500;
      color: $primaryFontColor;
    }
    p,
    span {
      font-size: 14px;
    }
    // .play-video-container {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;

    //   cursor: pointer;
    // }
  }
}
