<!-- <app-filterbar (typeFilterEvent)="filterList($event)" (genreFilterEvent)="filterGenreList($event)" -->
<app-filterbar (sortEvent)="sortArtists($event)" (typeFilterEvent)="filterList($event)" [genresArray]="genresArray">
</app-filterbar>

<main>
  <ul *ngIf="filteredArtists">
    <li *ngFor="let artist of filteredArtists">

      <div class="img-container">
        <img src="{{ artist.picture }}">
      </div>

      <div class="content-container">
        <div class="artist-content-container">

          <h2>{{ artist.name }}</h2>

          <span *ngIf="artist.tags">
            <p>
              <span class="artist-type">
                {{ artist.tags[0].name }}
              </span>
              <span> from {{ formatPrice(artist.price) }}&nbsp;SEK</span>
            </p>
          </span>

        </div>

        <div>
          <app-icon-button (click)="handleClickVideo(artist.video, artist.name)"></app-icon-button>
        </div>

      </div>
    </li>
  </ul>

  <div class="button-container">
    <button>Load more artists</button>
  </div>

</main>

<app-list-modal *ngIf="showModal === true" [videoLink]="videoLink" [artistName]="artistName"
  (closeModalEvent)="closeModal()">
</app-list-modal>