<section>
  <div class="filter-container">

    <!-- TYPE -->

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="Artist" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">Artist</span>
    </label>

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="Band" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">Band</span>
    </label>

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="DJ" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">DJ</span>
    </label>

    <!-- GENRE -->

    <!-- <div>
      <button id="button" [ngClass]="setOpenClass()">Genre
      </button>

      <ng-template [ngIf]="showMenu === true">
        <ul [class.active]="showMenu === true">
          <li>hej</li>
        </ul>
      </ng-template>
    </div> -->

    <div>
      <button [class.active]="showMenu === true" (click)="toggleShowMenu()">
        Genre
      </button>

      <ng-template [ngIf]="showMenu === true">
        <!-- <div class="menu-backdrop" (click)="toggleShowMenu()"> -->
        <ul *ngIf="genresArray">
          <li *ngFor="let genre of genresArray">

            <label class="check-container">
              <div class="checkbox-container">
                <!-- <input type="checkbox" value="{{ genre }}" (change)="handleGenreChecked($any($event.target))" /> -->
                <input type="checkbox" />
                <span class="custom-checkbox"></span>
              </div>
              <span class="checkbox-container-text">{{ genre }}</span>
            </label>

          </li>
        </ul>
        <!-- </div> -->
      </ng-template>
    </div>

    <div>
      <div>
        <button (click)="handleOnSortClick('lowPrice')">sort lowest price</button>
        <button (click)="handleOnSortClick('highPrice')">sort highest price</button>
        <button (click)="handleOnSortClick('name')">sort name price</button>
      </div>
    </div>


  </div>
</section>