@import "../../shared/config";
@import "../../shared/custom-checkbox";

@keyframes example {
  from {
    height: 0;
  }
  to {
    height: 400px;
  }
}

section {
  background: $basicColor;

  .filter-container {
    @include basicLayout;

    display: flex;
    width: 100%;
    padding: 18px;
  }

  @include customCheckbox;

  button {
    background: darkcyan;
  }
  .active {
    background: white;
    transition: 1s;
  }

  ul {
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    align-items: flex-start;
    box-sizing: content-box;
    // padding-top: 20px;
    height: 400px;
    width: 200px;
    color: #000;
    transition: 0.5s;
    background: white;

    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-weight: 600;

    animation-name: example;
    animation-duration: 2s;

    z-index: 10;
  }

  // .active + ul {
  //   height: 100px;
  //   padding: 20px 0;
  // }

  li {
    padding: 0;
    padding-left: 10px;

    &:first-child {
      padding-top: 20px;
    }
  }
}
