@import "../../shared/config";

section {
  background: silver;

  h3 {
    font-family: "Poppins", sans-serif;
  }

  .filter-container {
    @include basicLayout;
    width: 100%;

    padding: 20px 10px;
  }
}
