@import "../../shared/config";
@import "../../shared/custom-checkbox";
@import "../../shared/genre-button";
@import "../../shared/dropdown-menu";

@keyframes example {
  from {
    height: 0;
  }
  to {
    height: 120px;
  }
}

.menu-backdrop {
  position: fixed;

  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);

  z-index: 5;
}

section {
  position: sticky;
  top: 75px;
  // height: 70px;

  z-index: 5;

  @include customCheckbox;
  @include genreButton;

  @media (max-width: 1024px) {
    .custom-checkbox {
      top: 1px;
    }
  }

  background: $basicColor;

  .filter-container {
    @include basicLayout;

    width: 100%;
    padding: 18px;

    padding-left: calc(18px + 2%);
    padding-right: calc(18px + 2%);
  }

  .type-container {
    display: flex;
    align-items: center;
    // width: 100%;
  }

  .sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 1000px;

    .sort-dropdown-container {
      display: none;
    }

    .sort-button {
      display: none;
    }

    .sort-list {
      display: flex;

      list-style-type: none;
      margin: 0;
      padding: 0;

      button {
        background: #fff;
        margin-left: 10px;

        @media (max-width: 1024px) {
          background: none;
          font-size: 12px;
          padding-right: 0px;
        }

        &:hover {
          background: none;
        }
      }

      @media (max-width: 667px) {
        display: none;
      }
    }

    .sort-dropdown-container {
      @media (max-width: 667px) {
        @include dropdownMenu;

        top: 67px;
        right: 0;

        margin: 0;
        padding: 0;
        width: 200px;
        height: 124px;

        display: block;

        ul {
          list-style-type: none;
          padding-left: 20px;
          padding-top: 6px;

          li {
            height: 32px;
          }
        }
      }
    }

    @media (max-width: 667px) {
      .sort-dropdown-container {
        display: none;
        &:active {
          display: block;
        }
      }
      .sort-button {
        display: block;

        &:hover ~ .sort-dropdown-container {
          display: block;
        }
      }
    }
  }

  .check-container-wider {
    width: 140px;

    cursor: pointer;

    &:hover .custom-checkbox {
      background: $primaryColor;
      border-color: $primaryColor;
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 667px) {
      display: none;
    }
  }

  .genre-container {
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  }

  .arrow-container {
    width: 16px;
    margin-left: 10px;

    @media (max-width: 1024px) {
      width: 14px;
    }
  }

  .active {
    background: #fff;
    // color: $secondaryColor;
  }

  .genre-list {
    @include dropdownMenu;

    @media (max-width: 1024px) {
      .custom-checkbox {
        top: 3px;
      }
    }

    .genre {
      padding: 0;
      padding-left: 10px;
      width: 150px;
    }
  }
}
