<section>
  <div class="filter-container">

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="Artist" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">Artist</span>
    </label>

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="Band" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">Band</span>
    </label>

    <label class="check-container">
      <div class="checkbox-container">
        <input type="checkbox" value="DJ" (change)="handleTypeChecked($any($event.target))" />
        <span class="custom-checkbox"></span>
      </div>
      <span class="checkbox-container-text">DJ</span>
    </label>

  </div>
</section>