@import "../../shared/config";

header {
  position: sticky;

  top: 0;
  height: 75px;
  background: white;

  z-index: 5;

  .header-container {
    @include basicLayout;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(15px + 2%);
    padding-right: calc(15px + 2%);

    .nav-header-container {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .header-button-container {
      @media (max-width: 667px) {
        display: none;
      }
    }

    .hamburger-menu {
      display: none;

      @media (max-width: 667px) {
        display: block;
        margin-top: 8px;
      }
    }

    ul {
      @include basicList;

      @media (max-width: 1024px) {
        display: none;
      }

      li {
        padding: 0 14px;
        color: $primaryFontColor;

        cursor: pointer;

        &:first-child {
          color: $primaryColor;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
