<header>
  <div class="header-container">
    <app-logo></app-logo>
    <app-hamburger class="hamburger-menu"></app-hamburger>
    <nav class="nav-header-container">
      <ul>
        <li>
          Artists
        </li>
        <li>
          About
        </li>
        <li>
          Pricing
        </li>
        <li>
          Events
        </li>
        <li>
          Social
        </li>
      </ul>
    </nav>
    <div class="header-button-container">
      <app-login-button></app-login-button>
      <app-button></app-button>
    </div>

  </div>
</header>