@import "../../shared/config";

header {
  position: sticky;
  background: white;

  .header-container {
    @include basicLayout;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 10px 15px;

    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      font-size: 14px;
      font-weight: 600;

      li {
        padding: 0 14px;
        color: $primaryFontColor;
        cursor: pointer;

        &:first-child {
          color: $primaryColor;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
