<footer>
  <div class="footer-container">
    <app-footer-logo></app-footer-logo>
    <nav class="desktop-nav">
      <ul>
        <li>
          Help
        </li>
        <li>
          Cool Music
        </li>
        <li>
          Social
        </li>
      </ul>
    </nav>

    <nav class="tablet-nav">
      <ul>
        <li>
          Artists
        </li>
        <li>
          About
        </li>
        <li>
          Pricing
        </li>
        <li>
          Events
        </li>
        <li>
          Social
        </li>
        <li>
          Help
        </li>
      </ul>
    </nav>
  </div>
</footer>